{{extend 'layout.html'}}

<style>
.qb td {padding: 3px;}
#cover {position: fixed;}
</style>

{{=T("Kde hledat:")}}
{{for lib in public:}}
    {{css_class = 'btn-warning' if library and lib.slug == library.slug else 'btn-info'}}
    <a href="{{=URL(args=lib.slug)}}" class="btn btn-small {{=css_class}}">{{=lib.library}}</a>
{{pass}}
{{if library:}}
    <a href="{{=URL()}}" class="btn btn-small btn-info">{{=T("ve kterémkoli katalogu")}}</a>
    {{=H4(T("Hledá se v katalogu") + ': ' + library.library)}}
{{else:}}
    {{=H4(T("Hledá se ve kterémkoli katalogu."))}}
{{pass}}

<div class="well">
    {{=form}}
    {{if news_status == 0:}}
        {{=A(T("Zobrazit novinky"), _href="%s" % URL(args=library.slug))}}
    {{pass}}
</div>
{{if books:}}
    {{if news_status > 0:}}
        {{=H4(T("Novinky v knihovně"))}}
    {{pass}}
    <div class="col-md-2">
        <div id="cover">
        </div>
    </div>
    <div class="col-md-10">
        {{=books}}
    </div>
{{else:}}
    {{=T("Katalog knihovny je prázdný.")}}
{{pass}}

<script>
var lastEan = null;
function bookLinkOver(ean) {
    if (ean !== lastEan) {
        lastEan = ean;
        if (ean) {
            $.ajax({
                url: "onbooklink",
                data: {ean: ean},
                success: function(result) {
                    if (ean === lastEan) {
                        result = JSON.parse(result);
                        $("#cover").html('');
                        var coverImg = $("<img>", {src: result.src});
                        var coverA = $("<a></a>");
                        coverA.attr("href", "https://www.obalkyknih.cz/view?isbn=" + ean);
                        coverImg.appendTo(coverA);
                        coverA.appendTo($("#cover"));
                    }
                }
            });
        }
    }
}
</script>