{{extend 'layout.html'}}

<a href="https://www.obalkyknih.cz/view?isbn=9788086964096">
    <img src="https://cache.obalkyknih.cz/api/books?isbn=9788086964096">
    <img src="http://cache.obalkyknih.cz/api/books?multi=[{%22isbn%22:%22978-80-86964-09-6%22,%22nbn%22:%22cnb000154538",%22oclc%22:%22(OCoLC)311597120%22}]">
</a>

{{=form}}

{{if auth.user:}}
    <div class="well">
        {{if auth.library_id > 1:}}
            <a href="{{=URL('catalogue', 'find')}}" class="btn btn-primary">{{=T("přejít ke katalogizaci")}}</a>
        {{else:}}
            <a href="{{=URL('catalogue', 'find')}}" class="btn btn-primary">{{=T("vyzkoušet katalogizaci ve ZKUŠEBNÍ knihovně")}}</a>
            <a href="{{=URL('newdb')}}" class="btn btn-info">
                {{=T("založit si vlastní databázi (pro knihovnu nebo knižní obchod)")}}
            </a>
        {{pass}}
        <a href="{{=URL('theme')}}" class="btn btn-info">{{=T("změnit vzhled aplikace")}}</a>
        <a href="{{=URL('welcome')}}" class="btn btn-info">{{=T("informace o portálu")}}</a>
    </div>
{{else:}}
    {{=MARKMIN(T("**Nejste přihlášen(a)**. Můžete pouze vyhledávat, ale nemůžete rezervovat ani spravovat své výpůjčky."))}}
    <a href="{{=URL('user', args=('login'))}}" class="btn btn-primary">{{=T("přihlásit se nebo zaregistrovat")}}</a>
    <a href="{{=URL('theme')}}" class="btn btn-info">{{=T("změnit vzhled aplikace")}}</a>

    <div style="margin-top: 20px;">
        {{=MARKMIN(T("Tato aplikace také umožňuje **evidovat knihy vlastní knihovny** (nebo knižního obchodu)."))}}
    </div>
    <a href="{{=URL('welcome')}}" class="btn btn-info">{{=T("chci vědět více")}}</a>
{{pass}}
