{{extend 'layout.html'}}

<style>
.qb td {padding: 3px;}
#xcover {position: fixed;}
</style>

<div class="well">
    {{=form}}
</div>

<div class="col-md-2">
    <div class="affix">
        <div id="cover">
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="well">
        {{=books}}
    </div>
</div>

<script>
var lastEan = null;
function bookLinkOver(ean) {
    if (ean !== lastEan) {
        lastEan = ean;
        if (ean) {
            $.ajax({
                url: "onbooklink",
                data: {ean: ean},
                success: function(result) {
                    if (ean === lastEan) {
                        result = JSON.parse(result);
                        $("#cover").html('');
                        var coverImg = $("<img>", {src: result.src});
                        var coverA = $("<a></a>");
                        coverA.attr("href", "https://www.obalkyknih.cz/view?isbn=" + ean);
                        coverImg.appendTo(coverA);
                        coverA.appendTo($("#cover"));
                    }
                }
            });
        }
    }
}
</script>