{{portals = ('mojeknihovna.eu',)}}

{{extend 'layout.html'}}

{{from c2_views import codex}}
{{=codex()}}

<div id="C22" class="alert alert-info" style="display: none;">
    {{=MARKMIN(T("**Codex 2020** je software pro knihovny (ať už veřejné, firemní, školní nebo domácí), antikvariáty a knižní obchod."))}}
    {{
    host = request.env.http_host
    openinfo = T("Protože se jedná o otevřený software, můžete si jej **instalovat na vlastní server** nebo jej **využívat s dodavatelskou podporou**%s.")
    if filter(lambda portal: portal in host, portals):
        addon=', %s' % (T("např. právě na tomto portálu"))
    else:
        addon=''
    pass
    }}
    {{=MARKMIN(openinfo % addon)}}
    {{=MARKMIN(T("Je vytvořen [[v jazyce Python http://www.python.org]], v programovacím jazyku, který [[má budoucnost https://www.google.com/trends/explore#q=python%2C%20perl%2C%20php%2C%20c%23&date=today%2072-m&cmpt=q&tz=Etc%2FGMT-2]]."))}}
</div>

<div class="well">
    {{=MARKMIN("Používání tohoto portálu je **trvale zdarma pro domácí knihovny**.")}}
    {{=MARKMIN("**Pro instituce** nabízíme mimořádně **nízké ceny**.")}}
    {{=MARKMIN("**Levně** nabízíme také **program placené podpory** (konzultace, zaškolení, kontrola správnosti katalogizace, apod.).")}}
</div>

<div class="alert alert-success">
    Práce na projektu začaly v květnu 2016, momentálně zprovozňujeme první (školní) knihovnu.
    {{=MARKMIN("Ne vše je tedy hotovo, ale, abychom vás povzbudili, je tady tato **AKCE**:")}}
    <blockquote>
        {{=MARKMIN(T("Používání tohoto portálu bude **trvale zdarma** také pro knihovnu (nebo knižní obchod), **pokud se po dobu AKCE zaregistrujete** a v registraci připíšete instituci, pro kterou chcete portál používat. Současně, budete-li mít později zájem o program placené podpory, získáte jej na první 3 roky za 50%."))}}
    </blockquote>
    {{if auth.user:}}
        {{if auth.user.library_id == [TESTING_LIB_ID]:}}
            <a href="{{=URL('newdb')}}" class="btn btn-primary">{{=T("Vytvořit databázi ZDARMA")}}</a>
        {{pass}}
    {{else:}}
        <a href="{{=URL('user', args=('register'))}}" class="btn btn-primary">{{=T("Registrovat se")}}</a>
        <a href="{{=URL('login_newdb', vars={'_next': '/%s/default/user/profile' % request.application})}}" class="btn btn-info">
            {{=T("Už jsem registrován. Jak mám postupovat?")}}
        </a>
    {{pass}}
</div>
<a href="{{=URL('index')}}" class="btn btn-default">{{=T("Pokračovat")}}</a>

<script>
    $('#c22').click(function() {
        $('#C22').fadeIn();
        $('#c22m').fadeOut();
    });
</script>