{{extend 'layout.html'}}

<h3>Import Codex/DOS</h3>

<p><i>Dialog výběru souborů lze většinou posunout, abyste viděl(a) tento návod.</i></p>
<ul class="alert alert-info">
    <li>V dialogu výběru souborů najděte adresář /codex/dbfs/.
    <li>Držte Control a klepněte myší kamkoli do místa, kde vidíte soubory jako Autori.dbf, Knihy.dbf, ..
    <li>Stiskněte Control-A. <small><i>Měly by se označit všechny soubory. Pokud ne, držte Ctrl a naklikejte postupně všechny .dbf a .fpt soubory.</i></small>
    <li>Pokud je zobrazen a označen i nějaký (pod)adresář (např. import/), stále držte Ctrl a kliknutím zrušte jeho označení (aby zůstaly označené jen soubory).
    <li>Nakonec stiskněte Otevřít a pak Odeslat.
</ul>

<form enctype="multipart/form-data" method="post">
    <input type="file" name="codex" multiple>
    <input type="submit" class="btn btn-default">
</form>