{{extend 'layout.html'}}

<h3>{{if msg_fin:}}
    {{if msg_fin[0]:}}
        {{=T("Dokončeno.")}}
    {{else:}}
        {{=T("Import selhal. Chyba při přenosu nebo na serveru.")}}
    {{pass}}
{{else:}}
    {{=T("Probíhá přenos katalogu na web.")}}
{{pass}}</h3>

<div class="alert alert-info">
    {{if started is not None:}}
        <p>{{=T("Import zahájen:")}} {{=started.strftime('{0} %H:%M'.format(T('%d.%m.%Y')))}}</p>
    {{pass}}

    {{if imp_proc:}}
        <p>
            <small>({{=datetime.datetime.now().strftime('%H:%M')}})</small><br><br>
            {{=T("Dokončeno: %s") % counts.imp_proc}} %<br><br>
            {{=T("Zpracováno publikací: %s, z toho") % counts.imp_done}}<br>
            {{=' - ' + T("nově přidáno : %s") % counts.imp_new}}<br>
            {{=' - ' + T("aktualizováno: %s") % (counts.imp_done - counts.imp_new)}}
        </p>
    {{pass}}
</div>

{{if msg_fin:}}
    <p>{{=msg_fin[1]}}</p>
    <p>{{=A(T("pokračovat na úvodní stránku"), _href=URL('default', 'index'))}}</p>
{{else:}}
    <p>{{=T("Průběh se aktualizuje po 2 minutách.")}} <a href="{{=URL()}}" class="btn btn-sm btn-default">{{=T("Aktualizovat stav importu nyní")}}</a></p>
    <p><i>{{=T("Zpracování probíhá na serveru. Doporučujeme vyčkat, ale pokud nemůžete čekat, můžete již tento počítač vypnout. Výsledek dodatečně zjistíte opakováním volby Fond, Import: zobrazí buď tento stav (když import ještě probíhá nebo selhal) nebo bude volba připravena na další import (pokud tento import skončí úspěšně).")}}</i></p>

    {{if can_stop:}}
        <p>{{=T("Jestliže jste si absolutně jist(a), že import nepokračuje nebo že načítá chybné informace, můžete")}} {{=A(T("přerušit tento import"), _href=URL('cancel'))}}.</p>
    {{pass}}
{{pass}}

<script>
    window.setTimeout(function() {
        window.location.reload();
    }, 120000);
</script>