<form method="get" action="http://info.jib.cz/informace-pro-uzivatele/firefox/deeplink" name="jib" target="_blank">
  <div style="width: 158px; height: 151px; text-align:left">
    <img src="http://info.jib.cz/obrazky/hledej.gif" usemap="#mapa" border="0">
    <input size="15" name="dotaz" style="width:128px; height:20px; position:relative; top:-58px;
    right:-15px; border:0px" type="text">
    <input name="sada" value="utf8" type="hidden">
  </div>
</form>
<map name="mapa">
  <area shape="rect" alt="hledej" coords="20,121,137,139" href="javascript:document.jib.submit();">
</map>
