
{{extend 'layout.html'}}

<h3>
    <span class="label label-primary">{{=T("Evidujete titulů")}} <span class="badge">{{=cnt_t}}</span></span>
    <span class="label label-primary">{{=T("výtisků")}} <span class="badge">{{=cnt_i}}</span></span>

    <span style="display: inline-block; width: 20px;"></span>
    {{if cnt_tmp_lost:}}
        <span class="label label-danger">{{=T("Jako nezvěstných označeno")}} <span class="badge">{{=cnt_tmp_lost}}</span>
        <a class="btn btn-xs btn-default" href="{{=URL('lost')}}">
            <span class="icon magnifier icon-zoom-in glyphicon glyphicon-zoom-in"></span>
        </a></span>
    {{pass}}
    {{cnt_missing = max(0, cnt_i - cnt_tmp_lost - cnt_found)}}
    <span class="label label-warning">{{=T("Zatím nenalezeno výtisků")}} <span class="badge">{{=cnt_missing}}</span>
    {{if cnt_missing:}}
        <a class="btn btn-xs btn-default" href="{{=URL('missing')}}">
            <span class="icon magnifier icon-zoom-in glyphicon glyphicon-zoom-in"></span>
        </a>
    {{pass}}</span>

    <span style="display: inline-block; width: 20px;"></span>
    <span class="label label-success">{{=T("Již nalezeno")}} <span class="badge">{{=cnt_found}}</span></span>
</h3>

<h2>{{=T("Revize")}} <small>{{=T("vyhledání výtisků, které nebyly fyzicky nalezeny od data zahájení revize")}}</small>
    {{=review_date.strftime(T('%d.%m.%Y', lazy=False))}}
    <a class="btn btn-sm btn-info right" href="{{=URL('library', 'library')}}">{{=T("změnit datum v profilu")}}</a>
</h2>

<div class="well well-sm">
    {{=form}}
</div>
<div id="fndImps"></div>

    Tady se ještě pracuje ...

<script>
$(document).ready(function() {
    $('label').css('text-align', 'right');
    $('#submit_record__row').hide();
    $('#no_table_imp_id').blur(function(e) {
        var impId = $('#no_table_imp_id').val();
        if (impId) {
            $.getJSON('{{=URL('review_find')}}' + '?q=' + encodeURIComponent(impId), function(result) {
                $('#fndImps').hide().off('click');  // TODO: na jednotlivé výtisky, ne na container
                $('#fndImps').show().html(result);
                $('#fndImps').click(function(event) {
                    eraseQuestion(event, $(this).parent().attr('data_id')); // double erase button - see eraseQuestion()
                });
            });

            $('#no_table_imp_id').val('');
            e.target.focus();

        }
    });
});
</script>
