
{{extend 'layout.html'}}

<h3>
    <span class="label label-primary">{{=T("Evidujete titulů")}} <span class="badge">{{=cnt_t}}</span></span>
    <span class="label label-primary">{{=T("výtisků")}} <span class="badge">{{=cnt_i}}</span></span>

    <span style="display: inline-block; width: 20px;"></span>
    {{if cnt_tmp_lost:}}
        <span class="label label-danger">{{=T("Jako nezvěstných označeno")}} <span class="badge">{{=cnt_tmp_lost}}</span>
        <a class="btn btn-xs btn-default" href="{{=URL('lost')}}">
            <span class="icon magnifier icon-zoom-in glyphicon glyphicon-zoom-in"></span>
        </a></span>
    {{pass}}
    {{cnt_missing = max(0, cnt_i - cnt_tmp_lost - cnt_found)}}
    <span class="label label-warning">{{=T("Zatím nenalezeno výtisků")}} <span id="cnt_missing" class="badge">{{=cnt_missing}}</span>
    {{if cnt_missing:}}
        <a class="btn btn-xs btn-default" href="{{=URL('missing')}}">
            <span class="icon magnifier icon-zoom-in glyphicon glyphicon-zoom-in"></span>
        </a>
    {{pass}}</span>

    <span style="display: inline-block; width: 20px;"></span>
    <span class="label label-success">{{=T("Již nalezeno")}} <span id="cnt_found" class="badge">{{=cnt_found}}</span></span>
</h3>

<h2>{{=T("Revize")}} <small>{{=T("vyhledání výtisků, které nebyly fyzicky nalezeny od data zahájení revize")}}</small>
    {{=review_date.strftime(T('%d.%m.%Y', lazy=False))}}
    <a class="btn btn-sm btn-info right" href="{{=URL('library', 'library')}}">{{=T("změnit datum v profilu")}}</a>
</h2>

<div id="revImps"></div>
<div class="well well-sm">
    <div class="row">
        <label class="control-label-sm col-sm-2" for="question">{{=T("Zkontrolovaný výtisk")}}</label>
        <div class="col-sm-4">
            <input class="form-control string input-sm" id="impQuestion" type="text" value="">
        </div>
        <div class="col-sm-6"><span class="help-block">{{=T("zadej rik, čarový kód nebo přír.číslo")}}</span></div>
    </div>
</div>
<div id="fndImps"></div>

<script>
$(document).ready(function() {
    function afterReview(result) {  // result is tuple: (new, formatted_info)
        $('#fndImps').hide().html('');
        $('#revImps').show().html(result[1]);
        if (result[0]) {      // wasn't found in this review yet
            var missing = parseInt($('#cnt_missing').text(), 10);
            if (missing > 0) {
                var found = parseInt($('#cnt_found').text(), 10);
                $('#cnt_missing').html(missing - 1);
                $('#cnt_found').html(found + 1);
            }
        }
    }

    $('label').css('text-align', 'right');
    $('#submit_record__row').hide();
    var impQEl = $('#impQuestion');
    impQEl.focus();
    impQEl.keydown(function(e) {
        if (e.which===13) {   // needed to fire blur() using Enter
            $.w2p.stop(e);
            impQEl.blur();
        }
    });
    impQEl.blur(function(e) {
        $.w2p.stop(e);
        var impId = impQEl.val();
        if (impId) {
            $.getJSON('{{=URL('review_find')}}' + '?q=' + encodeURIComponent(impId), function(result) {
                $('#fndImps a').off('click');
                if (result[0] === 'C') {   // not a SINGLE impression: list them to selection
                    $('#fndImps').show().html(result[1]);
                    $('#fndImps a').click(function(e) {
                        $.w2p.stop(e);
                        $.getJSON('{{=URL('review_doit')}}' + '/' + $(this).attr('data_id'), function(result) {
                            afterReview(result);
                        });
                    });
                } else {  // exactly SINGLE impression: auto-review it
                    afterReview(result[1]);
                }
            });

            impQEl.val('');
            impQEl.focus();

        }
    });
});
</script>
