{{extend 'layout.html'}}

<div class="well well-small">
  {{=title}}
</div>

<div class="well well-small">
  {{=form}}
</div>

<div class="well well-small">
{{if impressions:}}
    <table>
        <thead>
            <th>{{=T("Evidován")}}</th>
            <th />
            <th>{{=T("Čís.")}}</th>
        </thead>
        <tbody>
            {{for impression in impressions:}}
                <tr>
                    <td>{{=impression.registered.strftime('%d.%m.%y')}}</td>
                    <td>{{=A(T("vyřadit"), _href='%s' % URL('delete', args=(impression.answer_id, impression.id)))}}</td>
                    <td>{{=impression.iorder}}</td>
                </tr>
            {{pass}}
        </tbody>
    </table>
{{else:}}
    {{=T("Zatím nemáme žádné výtisky.")}}
{{pass}}
</div>
