{{extend 'layout.html'}}

<div class="well well-small">
    {{=SPAN(B(nnn), _title="%s" % T("RYCHLÁ IDENTIFIKACE pro rychlé nalezení knihy; má-li kniha více výtisků, nabídnou se k dourčení"), _style="font-size: 130%; padding-right: 10px;")}} {{=B(title)}}
</div>

<div class="well well-small">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <div class="btn-group btn-group-sm" role="group" aria-label="..." style="padding-bottom: 3px;">
            <button type="button" id="btn-plus" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" id="btn-minus" class="btn btn-info"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </div>
    {{=form}}
</div>

<div class="well well-small">
{{if impressions:}}
    <table class="table table-stripped table-hover">
        <thead>
            <th>{{=T("Evidován")}}</th>
            <th />
            {{if session.libstyle[1] == 'O':}}
                <th>{{=T("Čís.")}}</th>
            {{pass}}
            {{if session.libstyle[3] == 'B':}}
                <th>{{=T("Čar.kód")}}</th>
            {{pass}}
            <th>{{=SPAN(T("Rychlá identifikace"), _title="%s" % fastid_title)}}</th>
            <th>{{=T("Nákupní cena")}}</th>
            {{if session.libstyle[4] == 'P':}}
                <th>{{=T("Umístění")}}</th>
            {{pass}}
            <th>{{=T("Stav")}}</th>
            <th />
        </thead>
        <tbody>
            {{T.lazy = False}}
            {{for impression in impressions:}}
                <tr>
                    <td>{{=impression.impression.registered.strftime(T('%d.%m.%y'))}}</td>
                    <td>{{=A(T("vyřadit"), _href='%s' % URL('displace', args=(question_id, impression.impression.answer_id, impression.impression.id), user_signature=True))}}
                        {{if impression.impr_hist.id is None:}},
                            {{=A(T("omyl"), _href='%s' % URL('mistake', args=(question_id, impression.impression.answer_id, impression.impression.id), user_signature=True), _title=T("omyl zápisu - vše o výtisku bude zcela smazáno"))}}
                        {{pass}}</td>
                    {{if session.libstyle[1] == 'O':}}
                        <td>{{=impression.impression.iorder}}</td>
                    {{pass}}
                    {{if session.libstyle[3] == 'B':}}
                        <td>{{=impression.impression.barcode or ''}}</td>
                    {{pass}}
                    <td>{{=SPAN(impression.impression.fastid, _title="%s" % fastid_title)}}</td>
                    <td style="text-align: right; padding-right: 60px;"><span class="weak smaller">{{=impression.impression.price_in or ''}}</span></td>
                    {{if session.libstyle[4] == 'P':}}
                        <td>{{=impression.place and impression.place.place or ''}}</td>
                    {{pass}}
                    <td><span class="weak smaller" title="{{=impression.impression.icondition or ''}}">
                        {{=shortened(impression.impression.icondition) or ''}}
                    </span></td>
                    <td><a class="button btn-sm btn-default" href="{{=URL('edit', args=(question_id, answer_id, impression.impression.id), user_signature=True)}}">
                        <span class="icon pen icon-pencil glyphicon glyphicon-pencil"></span>
                    </a></td>
                </tr>
            {{pass}}
            {{T.lazy = True}}
        </tbody>
    </table>

    <span id="info_rik_btn" class="label label-info right">{{=T('Co znamená "Rychlá identifikace" ?')}}</span>
    <div id="info_rik" style="display: none;">
        <div class="alert alert-info">
            {{=T("Rychlou identifikaci použijte pro hledání knih bez snímače čarového kódu.")}}<br />
            {{=T("Systém najde knihu/výtisk podle celé identifikace nebo podle čísla před pomlčkou a v případě pochybnosti vám nabídne výběr.")}}<br /><br />
            {{=T("Do výtisku (na vždy stejné místo) zapište uvedené číslo.")}}<br />
            {{=T("U knih s EANem (vytištěným čarovým kódem) to není potřeba, protože jako Rychlou identifikaci jednoduše opíšete poslední číslice čarového kódu (jen v případě, že máte více výtisků knihy a chcete je rozlišovat o něco rychleji, můžete čísla také vepsat do výtisků).")}}
        </div>
    </div>
{{else:}}
    {{=T("Zatím nemáme žádné výtisky.")}}
{{pass}}
</div>

<script>
$(document).ready(function() {
    function getOldVal() {
        return parseInt($("#no_table_new").val(), 10);
    }
    $("#btn-plus").click(function() {
        var oldVal = getOldVal();
        $("#no_table_new").val(oldVal + 1);
    });
    $("#btn-minus").click(function() {
        var oldVal = getOldVal();
        $("#no_table_new").val(Math.max(1, oldVal - 1));
    });

    $('label').css('text-align', 'right');
    $('#info_rik_btn').click(function() {
        $('#info_rik').fadeIn();
    });
});
</script>
