{{extend 'layout.html'}}

<div class="well well-small">
  <div>{{=form}}</div>
</div>

<div class="row">
  <div id="retrieve_status" class="col-sm-4"></div>
  <div class="col-sm-8">
      <div id="retrieve_books"></div>
      {{=cancel_search}}
  </div>
</div>

<script>
$(document).ready(function() {
    var interval = 2000;
    var resolvedQuestion = null;
    function getBooksForQuestionEl(jqEl) {
        var wishQuestionId = jqEl.attr('data_id');
        var wishQuestionStatus = jqEl.hasClass('active');
        var wishQuestionFull = (wishQuestionStatus ? '+' : '-') + wishQuestionId;
        if (wishQuestionFull !== resolvedQuestion) {
            if (wishQuestionStatus) {
                $.getJSON('{{=URL('retrieve_books')}}' + '/' + wishQuestionId, function(result, status) {
                    $('#erase_question').hide().off('click');
                    $('#retrieve_books').show().html(result);
                    $('#erase_question').click(function(event) {
                        eraseQuestion(event, $(this).parent().attr('data_id')); // double erase button - see eraseQuestion()
                    });
                });
            } else {
                $('#retrieve_books').html('<em>' + $('#question', jqEl).text() + '</em> ... ' + "Vyhledává se ..."); //JT("Vyhledává se ...")
                $('#erase_question').off('click').show().click(function(event) {
                    eraseQuestion(event, wishQuestionId);  // double erase button - see eraseQuestion()
                    $(this).fadeOut();
                });
            }
        }
        return wishQuestionFull;
    }
    function eraseQuestion(event, questionId) {
        event.preventDefault();
        $.getJSON("{{=URL('erase_question')}}" + '/' + questionId);
        $('[data_id="' + questionId + '"]', '#retrieve_status').slideUp();
        $('#retrieve_books').fadeOut();
    }
    function getRetrieveStatus() {
        $.getJSON("{{=URL('retrieve_status')}}", function(result, status) {
            $('#retrieve_status .list-group-item').off('click');
            $('#retrieve_status').html(result);
            var wishList = $('#retrieve_status .list-group-item');
            if (wishList.length > 0) {
                wishList.click(function(event) {
                    event.preventDefault();
                    resolvedQuestion = getBooksForQuestionEl($(this));
                });
                if (resolvedQuestion === null) {
                    resolvedQuestion = getBooksForQuestionEl($(wishList[0]));
                }
            }
        });
        window.setTimeout(getRetrieveStatus, interval);
        interval = 1.2 * interval;  // make server load less for the page without user interaction
    }
    getRetrieveStatus();
    $('#question_question').focus().keydown(function(event) {
        if (event.which == 117) { //F6
            $('#question_question').val($('[name="f6"]').val());
            return false;
        }
        else if (event.which == 118) { //F7
            $('#question_question').val($('[name="f7"]').val());
            return false;
        }
        else if (event.which == 119) { //F8
            $('#question_question').val($('[name="f8"]').val());
            return false;
        }
        else if (event.which == 120) { //F9
            $('#question_question').val($('[name="f9"]').val());
            return false;
        }
    });

    $('label').css('text-align', 'right');
});
</script>
